.recent-post {
    .recent-post-title {
        color: $gray-one;
        font-weight: 700;
    }
    
}

.post-topic {
    color: $light-gray;
    font-size: .9em;
    font-weight: bold;
    text-align: left;
    margin-right: 8px;
}