.recent-posts-container {
    display: grid;
    align-content: center;
    justify-items: center;
    
    .recent-posts-wrapper {
        display: grid;
        row-gap: 15px;
        width: 100%;

        .recent-posts-heading {
            color: $blue;
            font-size: 1em;
        }

        .recent-posts-posts {
            ul { 
            display: grid;
            row-gap: 42px;
                @media screen and (min-width: 700px) {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }
}